In [1]:
from stat import FILE_ATTRIBUTE_SPARSE_FILE


#pip install FILE_ATTRIBUTE_SPARSE_FILE

In [2]:
import pandas as pd
activities_df = pd.read_csv('data/strava_activities.csv')

# Count the number of activities for each Activity Type
activity_counts = activities_df['Activity Type'].value_counts()
activity_counts

Activity Type
Run                1553
Ride                487
Swim                223
Virtual Ride         46
Weight Training      31
Workout               8
Walk                  3
Name: count, dtype: int64

In [3]:
# Filter activities for the 'Run' activity type
run_activities_df = activities_df[activities_df['Activity Type'] == 'Run']

# Display the first few rows of the run activities DataFrame
print(run_activities_df.head())

   Activity ID          Activity Date Activity Name Activity Type  \
0    477882782   1 Jan 2016, 21:21:39   Morning Run           Run
1    477882787  17 Jan 2016, 22:05:40   Morning Run           Run
2    477882788  18 Jan 2016, 22:18:36   Morning Run           Run
3    477882789  16 Jan 2016, 21:10:39   Morning Run           Run
4    477882792  19 Jan 2016, 23:02:41   Morning Run           Run

  Activity Description  Elapsed Time Distance  Max Heart Rate  \
0                  NaN          6948    21.15             NaN
1                  NaN          2680     8.09             NaN
2                  NaN          2657     8.17             NaN
3                  NaN          5401    16.43             NaN
4                  NaN          2587     8.11             NaN

   Relative Effort  Commute  ... Total Grit Average Flow Flagged  \
0              NaN    False  ...        NaN          NaN     NaN
1              NaN    False  ...        NaN          NaN     NaN
2              NaN    False  ...        NaN          NaN     NaN
3              NaN    False  ...        NaN          NaN     NaN
4              NaN    False  ...        NaN          NaN     NaN

   Average Elapsed Speed  Dirt Distance  Newly Explored Distance  \
0                    NaN            NaN                      NaN
1                    NaN            NaN                      NaN
2                    NaN            NaN                      NaN
3                    NaN            NaN                      NaN
4                    NaN            NaN                      NaN

   Newly Explored Dirt Distance  Activity Count  Total Steps  Media
0                           NaN             NaN          NaN    NaN
1                           NaN             NaN          NaN    NaN
2                           NaN             NaN          NaN    NaN
3                           NaN             NaN          NaN    NaN
4                           NaN             NaN          NaN    NaN

[5 rows x 87 columns]

In [11]:
# Filter activities for the 'Run' activity type
run_activities_df = activities_df[activities_df['Activity Type'] == 'Run']

# Print dimensions of running data before removing null values
print("Dimensions of running data before removing null values:", run_activities_df.shape)

Dimensions of running data before removing null values: (1553, 87)

In [4]:
# Check for null values in each column
null_counts = run_activities_df.isnull().sum()

# Display the count of null values in each column
print(null_counts)

Activity ID                        0
Activity Date                      0
Activity Name                      0
Activity Type                      0
Activity Description            1544
                                ...
Newly Explored Distance         1553
Newly Explored Dirt Distance    1553
Activity Count                  1553
Total Steps                     1544
Media                           1553
Length: 87, dtype: int64

In [5]:

# Remove columns with more than 1500 null values
activities_df_filtered = run_activities_df.dropna(thresh=len(activities_df) - 1500, axis=1)

# Display the new DataFrame
print(activities_df_filtered)

      Activity ID          Activity Date  \
0       477882782   1 Jan 2016, 21:21:39
1       477882787  17 Jan 2016, 22:05:40
2       477882788  18 Jan 2016, 22:18:36
3       477882789  16 Jan 2016, 21:10:39
4       477882792  19 Jan 2016, 23:02:41
...           ...                    ...
2341  10123458734  25 Jun 2023, 01:02:41
2344  10123465749  27 Jun 2023, 04:34:42
2347  10123472446  29 Jun 2023, 05:05:11
2348  10123474604  30 Jun 2023, 06:04:06
2350  10271579059  19 Nov 2023, 00:21:15

                                          Activity Name Activity Type  \
0                                           Morning Run           Run
1                                           Morning Run           Run
2                                           Morning Run           Run
3                                           Morning Run           Run
4                                           Morning Run           Run
...                                                 ...           ...
2341                               Southbank / Brighton           Run
2344  Southbank / Melbourne, Royal Botanic Gardens V...           Run
2347                               Southbank / Richmond           Run
2348                              Southbank / Melbourne           Run
2350                               Southbank / Brighton           Run

      Elapsed Time Distance  Max Heart Rate  Relative Effort  Commute  \
0             6948    21.15             NaN              NaN    False
1             2680     8.09             NaN              NaN    False
2             2657     8.17             NaN              NaN    False
3             5401    16.43             NaN              NaN    False
4             2587     8.11             NaN              NaN    False
...            ...      ...             ...              ...      ...
2341          7632    21.13           185.0            366.0    False
2344          4615    13.26           173.0            219.0    False
2347          3384    10.14           174.0            130.0    False
2348          3433     9.10           175.0             44.0    False
2350          9053    23.97           151.0            104.0    False

                           Filename  ...  Elevation Low  Elevation High  \
0       activities/529262621.tcx.gz  ...           41.5       56.799999
1       activities/529262641.tcx.gz  ...            NaN             NaN
2       activities/529262642.tcx.gz  ...            NaN             NaN
3       activities/529262639.tcx.gz  ...            NaN             NaN
4       activities/529262645.tcx.gz  ...            NaN             NaN
...                             ...  ...            ...             ...
2341  activities/10843966339.fit.gz  ...            6.1       12.600000
2344  activities/10843973828.fit.gz  ...            8.9       43.500000
2347  activities/10843980813.fit.gz  ...            8.2       16.400000
2348  activities/10843983156.fit.gz  ...            9.2       43.500000
2350  activities/10998332486.fit.gz  ...            5.6       12.700000

      Max Grade  Average Grade  Max Cadence  Average Cadence  \
0      0.400000      -0.072336          NaN              NaN
1      0.000000       0.000000          NaN              NaN
2      0.000000       0.000000          NaN              NaN
3      0.000000       0.000000          NaN              NaN
4      0.000000       0.000000          NaN              NaN
...         ...            ...          ...              ...
2341   7.826087      -0.001893         97.0        81.720116
2344  36.729153      -0.000754         86.0        80.785339
2347   6.954666      -0.000985         86.0        75.150879
2348  14.920899       0.000000         86.0        73.345657
2350   7.992195       0.000000         89.0        81.441574

      Average Heart Rate     Calories  Relative Effort.1  Commute.1
0                    NaN  2177.970459                NaN        0.0
1                    NaN          NaN                NaN        0.0
2                    NaN   843.259766                NaN        0.0
3                    NaN          NaN                NaN        0.0
4                    NaN   837.025940                NaN        0.0
...                  ...          ...                ...        ...
2341          170.416290  1437.000000              366.0        0.0
2344          169.754639   943.000000              219.0        0.0
2347          164.251862   693.000000              130.0        0.0
2348          141.533081   645.000000               44.0        0.0
2350          140.624573  1691.000000              104.0        0.0

[1553 rows x 26 columns]

In [6]:
# Check for null values in the filtered DataFrame
null_counts_filtered = activities_df_filtered.isnull().sum()

# Display the count of null values in each column
print(null_counts_filtered)

Activity ID             0
Activity Date           0
Activity Name           0
Activity Type           0
Elapsed Time            0
Distance                0
Max Heart Rate        508
Relative Effort       508
Commute                 0
Filename                3
Athlete Weight        525
Elapsed Time.1         17
Moving Time             0
Distance.1              0
Max Speed               3
Elevation Gain          9
Elevation Low         295
Elevation High        295
Max Grade               3
Average Grade           0
Max Cadence           364
Average Cadence       359
Average Heart Rate    508
Calories              260
Relative Effort.1     508
Commute.1              22
dtype: int64

In [7]:
# Remove null values from the filtered DataFrame
cleaned_running_data = activities_df_filtered.dropna()

# Display the shape of the cleaned DataFrame
print("Shape of cleaned DataFrame:", cleaned_running_data.shape)

Shape of cleaned DataFrame: (475, 26)

In [9]:
from sklearn.decomposition import PCA
import matplotlib.pyplot as pt
import numpy as np
# Now implementing PCA on the dataset
Himani_pca = PCA(n_components=10)
Himani_df = Himani_pca.fit_transform(cleaned_running_data)

ValueError: could not convert string to float: '23 Feb 2019, 17:57:21'